<div class="background">
<%= render "components/vertical_navbar", active: "My Forms"%>
  <div class="main-container">
    <div class="form-display">
    <div class="tab-bar-show">
        <%=link_to 'Back to my form', form_path(@form), class:"btn btn-outline mr-5"%>
    </div>
    <div>
    <hr id="divider">
    <div class="headline"><h1>Discover everyone's viewpoint:</h1></div>
        <!-- <div class="show-content"><h1><span><%= @form.name %></span></h1></div> -->
        <div class="show-content"><h2><span>Question: <%= @question.question_content  %></span></h2></div>
        <ul style="list-style-type:none; border-left:1px solid #000;height:50vh;">
        <li>
          <% @answers.each do |answer| %>
          <div class="show-content"><%= answer.answer_content %></div>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
