<div class="background">
<%= render "components/vertical_navbar", active: ""%>
  <div class="main-container">

    <div class="form-display">
      
      <div class="tab-bar-index-answers">
      <h4 class="headline-index-answers">Discover everyone's viewpoint</h4>
        <%=link_to 'Back to my form', form_path(@form), class:"btn btn-outline-show mr-5"%>
      </div>
    <div style="width: 80%">
        <h5 class="question-title-index-answers">Question: <%= @question.question_content  %></h5>
          <ul style="list-style-type:none; height:60vh" class="scrollbar-show">
            <li class="align-items-center">
              <% if @question.question_type == "Open Question" %>
                <% @answers.each do |answer| %>
                  <div class="show-content">
                    <span class="quotation-mark">"</span><%= answer.answer_content %><span class="quotation-mark">"</span>
                  </div>
                <% end %>
              <% elsif @question.question_type == "Star Rating" %>
                <div class="show-content-stars">
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <p class="counter-stars"> <%= "x #{@question.answers.where(answer_content:"5").size}" %></p>
                </div>
                <div class="show-content-stars">
                  <% 4.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% 1.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                  <p class="counter-stars"> <%= "x #{@question.answers.where(answer_content:"4").size}" %></p>
                </div>
                <div class="show-content-stars">
                  <% 3.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% 2.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                    <p class="counter-stars"> <%= "x #{@question.answers.where(answer_content:"3").size}" %></p>
                </div>
                <div class="show-content-stars">
                  <% 2.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% 3.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                    <p class="counter-stars"> <%= "x #{@question.answers.where(answer_content:"2").size}" %></p>
                </div>
                <div class="show-content-stars">
                  <% 1.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% 4.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                    <p class="counter-stars"> <%= "x #{@question.answers.where(answer_content:"1").size}" %></p>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</div>
