<div class="background pb-5">
  <h1 class="text-center pt-5 pb-3">Create your form</h1>
  <div class="grid-container">
    <div class="item-a">
      <div class="card-form">
        <h4 class="mb-3">Information</h4>
          <%= form_with model: @form, data: { controller: 'nested-form', nested_form_wrapper_selector: '.nested-form-wrapper' } do |f| %>
            <%#= f.label :presented_on %>
            <%#= f.text_field :presented_on, as: :string, input_html: {class: "datepicker"}, label: "Choose the dates" %>
            <%#= f.label :name %>
            <%#= f.text_field :name, label: "Title" %>
            <%#= f.label :speaker %>
            <%#= f.text_field :speaker, label: "Speaker Name" %>
      </div>
        <div class="mb-5">
          <div class="card-form">
            <h4 class="mb-3">Add a question</h4>
            <template data-target="nested-form.template">
              <%= f.fields_for :questions, Question.new, child_index: 'NEW_RECORD' do |question_fields| %>
                <%= render "question_form", f: question_fields %>
              <% end %>
            </template>

            <%= f.fields_for :todos do |question_fields| %>
              <%= render "question_form", f: question_fields %>
            <% end %>

            <!-- Inserted elements will be injected before that target. -->
            <div data-target="nested-form.target"></div>

            <button type="button" data-action="nested-form#add">
              Add question
            </button>

            <%= f.submit 'Save question' %>
          <% end %>
        </div>
      </div>
        
      </div>
    
    <div class="item-b">
      <div class="card-questions">
        <h5 class="mb-5">Don't know where to start? Copy a question</h5>
        <% @questions.each do |question| %>
          <div data-controller="clipboard" class="question-card">
            <textarea  data-target="clipboard.source" readonly><%= question.question_content %></textarea>
            <button class='btn btn-outline' data-action="clipboard#copy"><i class="far fa-clipboard"></i></button>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
