<div class="background-green">
  <%= render "components/vertical_navbar", active: "Form Editor"%>
  <div class="dummy-temporary" style="width: 200px;"></div>
  <div class="main-container">
    <div class="inside-container">
       
        <div class="d-flex justify-content-center mt-5">
          <%= simple_form_for(@form) do |f| %>
            <div class="card-questions-focus">
              <h5 class="mb-4">My Form - Add some information</h5>
              <%= f.input :presented_on, as: :string, input_html: {class: "datepicker"}, label: "Choose the dates" %>
              <%= f.input :name, label: "Choose a Form Title" %>
              <%= f.input :speaker, label: "Speaker Name" %>
              <%= f.hidden_field :answer_content, value: "0" %>
              <%= f.hidden_field :question_content, value: "Overall impression of the Talk" %>
              <%= f.submit 'Continue', class: 'btn btn-click mt-3 mb-2' %>
              <% end %>
            </div>
        </div>
      
    </div>
  </div>
</div>

