<div class="background">
  <div class="pb-5 main-container">
    <div class="inside-container">
      <h1 style="color:darkgray;" class="text-center pt-5 mb-3">Create your form</h1>
      <div class="grid-container">
        <div class="item-a">
          <div class="card-questions-focus">
            <h4 style="color:darkgray;" class="mb-5">Step 1 - Add some information on the form</h4>
              <%= simple_form_for(@form) do |f| %>
              <%= f.input :presented_on, as: :string, input_html: {class: "datepicker"}, label: "Choose the dates" %>
              <%= f.input :name, label: "Title" %>
              <%= f.input :speaker, label: "Speaker Name" %>
          </div>
        </div>
        
        <div class="item-b">
          <div class="card-questions">
            <h5 class="mb-4 mt-3" style="color:darkgray;">Don't know where to start? Copy a question</h5>
            <% @questions.each do |question| %>
              <div data-controller="clipboard" class="question-card">
                <textarea  data-target="clipboard.source" readonly><%= question.question_content %></textarea>
                <button class='btn btn-outline' data-action="clipboard#copy"><i class="far fa-clipboard"></i></button>
              </div>
              <br>
            <% end %>
          </div>
          <div class="card-questions-focus">
            <h4 class="mb-3" style="color:darkgray;">Step 2: Add your first question </h4>
            <%= simple_fields_for(@question) do |g| %>
              <%= g.input :question_content, as: :text, label: 'Add your first question' %>
            <% end %>
          </div>
        </div>
      </div>
        <div class="mb-5 d-flex justify-content-center">
          <%= f.submit 'Continue', class: 'btn btn-click' %>
          <% end %>
        </div>
    </div>
  </div>
</div>
