<div class="background">
<%= render "components/vertical_navbar", active: ""%>
  <div class="main-container">

    <div class="form-display">
      <div class="tab-bar-show">
          <%=link_to "Back to all my Forms", forms_path, class:"btn btn-outline-show mr-5"%>
      </div>
        <div>
          <div class="show-parent">
          <h5 class="show-headline"> <%= @form.name %> | <%= @form.presented_on.strftime('%A, %b %d') %></h5>
          
            <ul style="list-style-type:none;height:55vh" class="scrollbar-show">
              <% @form.questions.each do |question|  %>

                <li class="d-flex align-items-center">

                  <div class="show-page-questions">
                  <%= question.question_content %>
                  </div>

                  <% if question.question_type == "Open Question" %>
                    <div class="answer-link">
                      <%= link_to "", form_question_answers_path(@form, question), class:"ml-3 fas fa-comment btn-above-page-show" %>
                      <p><%= "#{ pluralize question.answers.size, "Answer"}" %></p>
                    </div>

                  <% elsif question.question_type == "Star Rating" %>
                    <% sum = 0 %>
                    <% result = 0 %>
                    <% question.answers.reject{|number| number.answer_content == "0"}.each do |answer| %>
                      <% sum += answer.answer_content.to_i %>
                    <% end %>
                      <% if question.answers.length == 1 %>
                        <% result = 0 %>
                      <% else %>
                        <% result = sum / (question.answers.length - 1) %>
                      <% end %>
                    <%= link_to form_question_answers_path(@form, question), class:'ml-3 star-hover' do  %>
                      <% result.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                        <% (5 - result).times do %>
                          <i class="far fa-star"></i>
                        <% end %>
                    <% end %>

                  <% end %>

                </li>
              <% end %>
              </div>
            </ul>
                <%= link_to "Add a new question", new_form_question_path(@form), class:" btn btn-outline"  %>
        </div>
      </div>
    </div>
  </div>
