<!DOCTYPE html>
<html>
  <head>
    <title>Myrror</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type='image/png' href="http://www.myrror.org/assets/Myrror_Logo-d434d9aa9e1e7b61cf47a53396506ce1d7ff35bf4267b3a5b81f8e3d066c2919.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
