<!DOCTYPE html>
<html>
  <head>
    <title>Myrror</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
<<<<<<< HEAD
    <%# <%= render 'shared/navbar' %>
=======
    <%#= render 'shared/navbar' %>
>>>>>>> ebd421b4061735a0a84e93e39a48765845e0f6ab
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
